					<footer id="footer" class="site-footer card shadow-sm border-0">
						<%- theme.footer_html %>
						<div>Theme <a href="https://github.com/do11ars/hexo-theme-argon-english"><strong>Argon</strong></a> | Powered by Hexo</div>
					</footer>
				</main>
			</div>
		</div>
<script>
function checkCatalogContents() {
        var hasContents = $('#leftbar_catalog').children().length > 0;
        if (!hasContents) {
            $('.nav-wrapper').hide();
            $('#leftbar_tab_overview_btn').tab('show');
        } else {
            $('.nav-wrapper').show();
        }
    }
$(document).ajaxComplete(function() {

    $(document).ready(function() {
        checkCatalogContents();
    });

    $(window).on('popstate', function() {
        checkCatalogContents();
    });

    const targetNode = document.getElementById('leftbar_catalog');
    const config = { childList: true, subtree: true };

    const callback = function(mutationsList) {
        for (const mutation of mutationsList) {
            if (mutation.type === 'childList') {
                checkCatalogContents();
            }
        }
    };

    const observer = new MutationObserver(callback);
    if (targetNode) {
        observer.observe(targetNode, config);
    }
});
function updateFabtnVisibility() {
    var hasShare = $('#share_container').children().length > 0;
    if (!hasShare) {
        $('#fabtn_reading_progress').hide();
    } else {
        $('#fabtn_reading_progress').show();
    }
}

$(document).ajaxComplete(function() {
    updateFabtnVisibility();
    <% if (theme.utterances.enable) { %>loadUtterances();<% } %>
});
</script>
		<%- js('/argontheme.js') %>
		<% if (theme.math_render == 'mathjax3') { /*Mathjax V3*/%>
			<script>
				window.MathJax = {
					tex: {
						inlineMath: [["$", "$"], ["\\\\(", "\\\\)"]],
						displayMath: [['$$','$$']],
						processEscapes: true,
						packages: {'[+]': ['noerrors']}
					},
					options: {
						skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
						ignoreHtmlClass: 'tex2jax_ignore',
						processHtmlClass: 'tex2jax_process'
					},
					loader: {
						load: ['[tex]/noerrors']
					}
				};
			</script>
			<script src="<%= theme.mathjax_cdn_url %>" id="MathJax-script" async></script>
		<% } %>
		<% if (theme.math_render == 'mathjax2') { /*Mathjax V2*/%>
			<script type="text/x-mathjax-config" id="mathjax_v2_script">
				MathJax.Hub.Config({
					messageStyle: "none",
					tex2jax: {
						inlineMath: [["$", "$"], ["\\\\(", "\\\\)"]],
						displayMath: [['$$','$$']],
						processEscapes: true,
						skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
					},
					menuSettings: {
						zoom: "Hover",
						zscale: "200%"
					},
					"HTML-CSS": {
						showMathMenu: "false"
					}
				});
			</script>
			<script src="<%= theme.mathjax_v2_cdn_url %>"></script>
		<% } %>
		<% if (theme.math_render == 'katex') { /*Katex*/%>
			<link rel="stylesheet" href="<%= theme.katex_cdn_url %>katex.min.css">
			<script src="<%= theme.katex_cdn_url %>katex.min.js"></script>
			<script src="<%= theme.katex_cdn_url %>contrib/auto-render.min.js"></script>
			<script>
				document.addEventListener("DOMContentLoaded", function() {
					renderMathInElement(document.body,{
						delimiters: [
							{left: "$$", right: "$$", display: true},
							{left: "$", right: "$", display: false},
							{left: "\\(", right: "\\)", display: false}
						]
					});
				});
			</script>
		<% } %>

		<% if (theme.enable_code_highlight) { /*Highlight.js*/ %>
			<script>
				var argonEnableCodeHighlight = true;
			</script>
			<%- css('/assets/vendor/highlight/styles/' + theme.code_theme + '.css') %>
		<% } %>

	</div>
</div>
<noscript>
	<style>
		article img.lazyload[src^="data:image/svg+xml;base64,PCEtLUFyZ29uTG9hZGluZy0tPg"]{display: none;}
		.comment-item-text .comment-sticker.lazyload{display: none;}
	</style>
</noscript>
</body>

<%- theme.custom_html_foot %>

</html>
